In [1]:
print ("hello")

hello

The title of this notebook is DataScienceEcosystem

introduction

Data Science languages are:
<ul><li>Python
</li><li>R</li>
</li><li>Julia</li>
</li><li>Scala</li>
</ul>

Data science libraries are:
Data Science languages are:
<ul><li>Matplotliib</li>
<li>ScikitLearn</li>
</li><li>Numpy</li>
</li><li>Pandas</li>
</ul>

| Data Science Tools    | 
| -------- |
| Apache Spark  | 
| Apache Hadoop | 
| MongoDB   |

An arithmetic expression example is a+b=c

In [3]:
a=1
b=2
c=a+b
print(c)

3

In [4]:
x=2
y=3
z=x*y
print (z)

6

In [7]:
total_minutes = 70

hours = total_minutes // 60

minutes = total_minutes % 60

time = "{}:{}".format(hours, minutes)

print(time)

1:10

The objective is to learn data science

author's name: Anshika Arora